
.benefs {
  background: $color-light-grey;
  padding-top: 100px;
}

.benefs-wrapper {
  max-width: 1124px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 105px;
  padding: 0 50px;
}

.benefs-card1 {
  width: 100%;
  background: $color-white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  z-index: 1;


  .card1-texts {

    h2 {
      font-size: 36px;
      line-height: 42px;
      font-family: $prim-font;
      font-weight: 400;
      padding-top: 91px;
      padding-bottom: 30px;
    }

    p {
      font-size: 16px;
      font-family: $text-font;
      line-height: 19px;
      max-width: 416px;
      padding-bottom: 90px;

      &::after {
        display: block;
        content: "";
        width: 328px;
        border-bottom: 4px solid $color-redish;
        padding-top: 50px;
      }
    }
  }
}

.card1-logo {

  .logo-comp {
    background: url("../../assets/Macbook2.png") no-repeat center / cover;
    width: 387px;
    height: 219px;
    margin-top: 50px;
    position: relative;

    &::after {
      display: block;
      content: "";
      background: $color-redish;
      width: 180px;
      height: 180px;
      border-radius: 41px;
      position: absolute;
      top: -20px;
      right: 0px;
      transform: rotate(45deg);
      z-index: -1;
    }
  }
}

.benefs-card2 {
  height: 100%;
  width: 100%;
  background: $color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  z-index: 1;

  .logo-phone {
    background: url("../../assets/iPhone.png") no-repeat bottom/cover;
    width: 426px;
    height: 328px;
    position: relative;
    margin-left: 70px;

    &::after {
      display: block;
      content: "";
      width: 320px;
      height: 320px;
      background: $primary-color;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
}


.card2-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px 0 0;
}

.card2-texts::after {
  display: block;
  content: "";
  width: 328px;
  border-bottom: 4px solid $primary-color;
  margin-bottom: 70px;
}

.card2-texts h2 {
  font-size: 36px;
  font-family: $text-font;
  line-height: 42px;
  font-weight: 400;
  padding-top: 70px;
  padding-bottom: 30px;
}

.card2-texts p {
  max-width: 416px;
  font-size: 16px;
  line-height: 19px;
  font-family: $text-font;
  padding: 0 0 50px 0;
}

.benefs-card3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.card3-texts {
  box-sizing: border-box;
  max-width: 100%;
  background: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 30px;


  h2 {
    font-size: 36px;
    line-height: 42px;
    font-family: $prim-font;
    font-weight: 400;
    padding-top: 70px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
    font-family: $text-font;
    max-width: 553px;
    display: flex;
    flex-direction: column;
    padding-bottom: 44px;
    margin-right: 20px;

    &::after {
      display: block;
      content: "";
      width: 328px;
      border-bottom: 4px solid $primary-color;
      margin-top: 70px;

    }
  }
}



.logo-tube {
  height: 100%;
  background: $color-green;
  display: flex;
  align-items: center;
  justify-content: center;

  img {

    width: 296px;
    height: 207px;
    margin-right: 80px;
    margin-top: 98px;

  }
}

